<!--Um Zugriff auf die Liste aus dem CategoryController zu bekommen muessen wir
    hier im index.cshtml das model mit dem typ kennzeichnen also in dem Fall List<Category>.
    In anderen Worten wir sagen hier welches model unser View übergeben kriegt also in dem
    Fall ein model vom typ List<Category>

    Dieser Ausdruck definiert das Modell, das an die View übergeben wird.
    Hier handelt es sich um eine Liste von Category-Objekten.
-->
@model List<Category>
@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6 pb-3">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <!--When we click the Button it will look in the Category Controller and find the IActionResult
                Method and it will return the View Create.cshtml
            -->
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>

<table class="table tabletable-bordered table-striped">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <!--Model mit großem M: Dies ist der standardisierte Zugriff auf das Modell,
            das an die View übergeben wurde. Es entspricht der Liste von Category-Objekten,
            die der Controller an die View übergibt. 
            obj.Name und obj.DisplayOrder: Diese greifen auf die spezifischen Eigenschaften
            (Name, DisplayOrder) jedes Category-Objekts in der Liste zu, damit sie in der View
            angezeigt werden können.-->
        @foreach(var obj in Model)
        {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                    </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>
